# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

#other
DeepMIMOv2_O1_3p5/DeepMIMO_dataset/*
DeepMIMOv2_O1_3p5/Raytracing_scenarios/*
!DeepMIMOv2_O1_3p5/DeepMIMO_dataset/.gitkeep
!DeepMIMOv2_O1_3p5/Raytracing_scenarios/.gitkeep

DeepMIMOv2_O1_28/DeepMIMO_dataset/*
DeepMIMOv2_O1_28/Raytracing_scenarios/*
!DeepMIMOv2_O1_28/DeepMIMO_dataset/.gitkeep
!DeepMIMOv2_O1_28/Raytracing_scenarios/.gitkeep

Input-DataStructures/*



